.body_backgorund 
{
    background-image:url(Mighty_Morphin.png);
    background-position:center;
    background-size:cover;
}
#Powercanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}

